body{
  background-color: black;
  margin: 0;
  padding: 0;
  height: 1800px;
}


.background img {
  position: fixed;
  top: 0;
  left: 0;
  width: 2880px;
  height: 1800px;
  object-fit: cover;
  z-index: -1;
}


@media (max-width: 2400px) {
#mainImage {
  position: fixed;
  top: 52%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 2400px;     /* 화면 너비의 최대 80% */
  height: auto;
  max-height: 70vh;
  object-fit: contain; /* 비율 유지 + 최대 크기에 맞춤 */
  z-index: 10;
  transition: 0.3s ease;
}
}

#youtubeFrame {
  position: absolute;
  top: 52%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 2600px;
  height: 1462.5px; /* 16:9 비율 */
  z-index: 10;
  display: none; /* 기본 숨김 */
}

.thumb {
  position: relative;
  opacity: 0.3;
  transition: 0.3s ease;
  cursor: pointer;
  width: 300px;
  height: 300px; /* 추가해줘야 ::before도 정상 작동 */
}

.thumb img {
  width: 300px;
  height: auto;
  object-fit: cover;
  display: block;
}

.thumb.active {
  opacity: 1;
  transform: scale(1.1);
  z-index: 2;
}

.thumb.active img {
  transform: scale(1.1);
  opacity: 1;
  z-index: 2;
}


.thumb.active::before {
  content: '';
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  background-image: url('https://cdn.glitch.global/0a5d2682-7616-407b-9085-ffe7abe7f40d/%E1%84%81%E1%85%A5%E1%86%A8%E1%84%89%E1%85%AC.png?v=1749910018200');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 100;
}



.category-buttons {
    position: fixed;
    top: 350px;
    left: 850px;
    z-index: 100;
    display: flex;
    gap: 40px;
    flex-direction: column
  }

.category-buttons button {
  all: unset;
  font-family: 'Pretendard', sans-serif;
  font-size: 50px;
  color: black;
  cursor: pointer;
  text-align: left;
}

.category-buttons button:hover {
  text-decoration: underline;
}

.emotion-nav {
  position :fixed;
    left: 150px;
    top: 1650px ;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 40px;
    z-index: 100;
}

.emotion-nav button {
  all: unset;
  font-family: 'Pretendard', sans-serif;
  font-size: 52px;
  color: white;
  cursor: pointer;
  text-align: left;
}

.emotion-nav button:hover {
  text-decoration: underline;
}